<p class= "ticker">Ticker</p>
<div class= "form-container">
	<form action='/your-stock-price' method='post' class="form">
		<input type="text" name="symbol" placeholder="Enter a stock symbol..." class="symbol-input">
		<input type="submit" class="submit-btn" value="Submit"></input>
	</form>
</div>
