<!doctype html>
<html>
<head>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//www.google.com/jsapi"></script>
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
	<script src="js/chartkick.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<title>Ticker</title>
</head>
<body > 
	<div class="container">
		<!--<h2>Ticker</h2>-->
		<%= yield %>
	</div>
</body>
</html>