

.wrapper{
    /*position: relative;*/
    margin: 0 auto;
    /*width: 75% ;*/
    padding: 70px 0 0 0;
}
.header {
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.name-result {
    float: left;
}

.buy-result {
    float: right;
}
.pc-result {
    float: left;
}
body.yellow{
    background-color:#F9BF3B;
}
body.red{
    background-color:#C0392B;

}
body{
    background-color:#00B16A;
    font-family: 'Lato', sans-serif;
    color:#FFF;
}

.ticker{
    margin-top:50px;
    text-align:center;
    color: #FFF;
    font-size: 35px;
}
.chart{
    margin: 80px 0;
    opacity: .55;
}
.pe_ratio{
  opacity: 1;
}
.container{
    width: 800px;
}

.wall{
  font-weight: bold;
}

.form-container{
     position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.submit-btn, .symbol-input {
    border: none;
    display: block;
}
.submit-btn:focus, .symbol-input:focus {
   outline:none;
}
.form-container .submit-btn{
    width:100%;
    border: none;
     background: #fc7169;
  border-radius: 0 0 .25em .25em;
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
  padding:15px;
}

.form-container .symbol-input{
    width:100%;
    padding: 20px;
    font-size: 18px;
}

.wrapper .submit-btn {
    border: none;
    background: #fc7169;
  border-radius: 0 0 .25em .25em;
  text-transform: uppercase;
  font-weight: normal;
  margin: 4em auto;
  padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

     
}

.wrapper .submit-btn a{
    text-decoration: none;
    color: #FFF;
}
